<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ title | default: "repo-lint" }}</title>
</head>
<body>

  <main>
    <section id="content">
      {{ content }}
    </section>
  </main>

  <footer>
    <hr />
    <p>Last updated: {% now %}</p>
  </footer>

</body>
</html>
